@import "../base/_base.sass";
@import "../base/_layout.sass";

.el-table--border .table-expanded td {
  border-bottom: none;

}

.el-table--border .table-expanded th {
  border-top: 1px solid #ebeef5;

}

.el-table.table-expanded:before{
  height: 0;

}